@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #f5f3ff;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

